@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-ibm: 'IBM Plex Sans Thai', sans-serif;
	--font-ibm-looped: 'IBM Plex Sans Thai Looped', sans-serif;
}

.link-underline {
	@apply underline-offset-4 hover:underline;
}

@utility no-scrollbar {
	@apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

body {
	@apply bg-stone-50;
}
