@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-serif: 'Source Serif 4', sans-serif;
	--font-ibm: 'IBM Plex Sans Thai';
}

.link-underline {
	@apply underline-offset-4 hover:underline;
}

@utility no-scrollbar {
	@apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

body {
	@apply bg-stone-50;
}
.ibm-plex-sans-thai-thin {
	font-family: 'IBM Plex Sans Thai', sans-serif;
	font-weight: 100;
	font-style: normal;
}

.ibm-plex-sans-thai-extralight {
	font-family: 'IBM Plex Sans Thai', sans-serif;
	font-weight: 200;
	font-style: normal;
}

.ibm-plex-sans-thai-light {
	font-family: 'IBM Plex Sans Thai', sans-serif;
	font-weight: 300;
	font-style: normal;
}

.ibm-plex-sans-thai-regular {
	font-family: 'IBM Plex Sans Thai', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.ibm-plex-sans-thai-medium {
	font-family: 'IBM Plex Sans Thai', sans-serif;
	font-weight: 500;
	font-style: normal;
}

.ibm-plex-sans-thai-semibold {
	font-family: 'IBM Plex Sans Thai', sans-serif;
	font-weight: 600;
	font-style: normal;
}

.ibm-plex-sans-thai-bold {
	font-family: 'IBM Plex Sans Thai', sans-serif;
	font-weight: 700;
	font-style: normal;
}
